:root {
  --primary-color: #173d52;
  --secondary-color: #e0e0e0;
  --tertiary-color: #0d2430;
  --accent-color: #d3e8f3;
  --accent-color-rgb: 211 232 243;
  --button-color: #1976d2;
  --std-bs: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    hsla(0, 0%, 100%, 0.1) 0px 0px 0px 1px inset;
}

.App {
  background: var(--primary-color);
  color: var(--secondary-color);
  margin-left: 10vw;
  margin-right: 10vw;
}

body,
html,
a {
  background: var(--primary-color);
  color: var(--secondary-color);
}
