.header {
  padding-top: 1rem;
  background-color: var(--tertiary-color);
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.flexItem {
  margin-left: 2rem;
  margin-right: 2rem;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 30vw;
  }
}

@media screen and (min-width: 600px) {
  .logo {
    width: 14vw;
  }
}

@media screen and (min-width: 900px) {
  .logo {
    width: 10.5vw;
  }
}
